body {
    background-color: darkgrey;
    font-family: 'Shadows Into Light', cursive;
}
.container {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}
#headline, .form {
    display: inline;
    margin-right: 10px;
}
header{
    margin-bottom: 50px;
}
.sidebar {
    float: left;
    width: 20%;
    margin-right: 50px;
}
.main{
    float: left;
    width: 60%;
}

.sidebar, .main {
    background-color:floralwhite;
    color: navy;
    border: 5px double olive;
    border-radius: 10px;
    padding: 5px;
}
#list {
    background-color: lightgrey;
    border-radius: 10px;
    border: 3px solid black;
    margin: 2px;
    padding-left: 5px;
}
.titling {
    font-family: Sarina, cursive;
    color: darkslategray;
}
form {
    font-family: 'Shadows Into Light'
}


